* {
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  /* Transitions */
}
.box {
  border-radius: 6px;
  width: 100px;
  height: 100px;
  text-align: center;
  cursor: pointer;
  background-color: brown;
  transition-delay: 2s;
  transition-property: background;
  transition-duration: 3s;
  transition-timing-function: linear;
}
.box:hover {
  width: 500px;
  background: green;
}
.box1 {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  text-align: center;
  background-color: yellow;
  transition: background 0.2s linear, border-radius 1s ease-in 1s;
}
.box1:hover {
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}
@keyframes slide {
  0% {
    left: 0;
    top: 0;
  }
  50% {
    left: 244px;
    top: 100px;
  }
  100% {
    left: 488px;
    top: 0;
  }
}
.stage {
  background: #eaeaed;
  border-radius: 6px;
  height: 150px;
  position: relative;
  min-width: 538px;
}
.stage:hover .ball {
  animation: slide 2s ease-in-out 0.5s infinite alternate;
}
.stage:active .ball {
  animation-play-state: paused;
}
.ball {
  background: #2db34a;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}
